<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novas Saídas - SGE</title>
</head>
<body>
    <main class="container">
        <h3>Novas saídas registradas no SGE!</h3>
        <p>Produto: <strong>{{ product }}</strong></p>
        <p>Quantidade: <strong>{{ quantity }}</strong></p>
        <p>Valor total da venda: <strong>R$ {{ total_selling_price }}</strong></p>
        <p>Lucro obtido com a venda: <strong>R$ {{ total_profit }}</strong></p>
        <br>
        <p>Atenciosamente,<br>
        Sistema de Gestão de Estoque (SGE)
        </p>
    </main>
</body>
</html>